* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar,
.container {
  background-color: red;
  width: 800px;
  border-radius: 3px;
}
.navbar {
  padding: 20px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn,
input {
  height: 35px;
  padding: 0 1em;
}
.color {
  padding: 0 1em;
  width: 100px;

  margin: 0 1em;
}
.container {
  --size: 4;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  gap: 3px;
  padding: 3px;
}
.pixel {
  background-color: white;
  border-radius: 3px;
}
